/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Monoton&family=Tilt+Neon&family=Train+One&display=swap');

/* atajos para usar las fuentes: 
font-family: 'Bad Script', cursive;
font-family: 'Monoton', cursive;
font-family: 'Tilt Neon', cursive;
font-family: 'Train One', cursive; */
*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

body{
    background-image: url(img/bkg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.header{
    width: 90%;
    height: 100px;
    margin: 5vh 5%;
    position: fixed;
    /* border: 2px solid orange; */
    z-index: 4
}

header{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(70deg,#ffffff 20%, #ff007f, #ffffff 70%, #ff00ff);
    border-radius: 5px;
    box-shadow: 0px 0px 30px #ffffff, 0px 0px 100px #ff00ff;
    padding: 0px 20px;    
}


header h1{
    font-family: 'Monoton', cursive;
    color: white;
    font-size: 40px;
    text-shadow: 0px 0px 10px #ff00ff;
    padding: 0px;
    margin: 0px 30px;
}

.nav-menu ul{
    display: flex;
    align-items: center;
    z-index: 5;
}

.nav-menu li{
    padding: 5px;
}

.nav-menu li:hover{
    filter: drop-shadow(0px 0px 10px #55007f);
    transform: scale(1.1);
}

.nav-menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(255, 85, 255, 0.5);
    border-radius: 5px;
    border: 1px solid white;
}

.menu-icon img{
    width: 50px;
    height: 50px;
}

.menu-icon, #check{
    display: none;
}

/*  banner */
.audio-fix{    
    position: fixed;
    width: 90%;
    height: 80px;
    background-color: #ff007f;
    margin: 17vh 5%;
    z-index: 3;
}
 
.audio-flex{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #ff007f;
    /* border: 2px solid orangered; */
}
.audio-flex p{
    font-size: 30px;
    color: white;
    padding: 20px;
}



/* texto introductorio */

.text-int{
    position: absolute;
    display: block;
    width: 90%;
    height: auto;
    z-index: 2;
    margin: 28vh 5%;
    /* border: 2px solid orange; */
} 

.text-int p{
    font-family: 'Tilt Neon', cursive;
    font-size: 50px;
    text-align: center;
    color: white;
    padding: 50px;
    text-shadow: 0px 0px 10px #ff00ff;
}

.text-int span{
    color: #ff00ff;
}

/* imagenes flotantes */
.imagenes-container{
    position: absolute;
    display: flex;
    height: auto;
    z-index: 1;
    /* border: 2px solid orange; */
    margin: 70vh 30%;
}

.imagenes-container .imagen{
    position: relative;
    margin-right: -70px;
    display: inline-flex;
    flex-direction: column;
}

/* elevaciones */
.imagenes-container .imagen:hover .nombre{
    display: inline-block
    }

.imagenes-container .imagen img{
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 15px #ff00ff);
}

 /* individuales */
.imagenes-container .imagen .b-g:hover  img{
    transform: translateX(-30px);
    filter: drop-shadow(0px 0px 55px #ff007f);
}

.imagenes-container .imagen .n-n:hover img{
    transform: translateX(-30px);
    filter: drop-shadow(0px 0px 55px #ff007f);
}

.imagenes-container .imagen .l-i:hover img{
    transform: translateY(-30px);
    filter: drop-shadow(0px 0px 55px #ff007f);
}

.imagenes-container .imagen .k-g:hover  img{
    transform: translateX(+30px);
    filter: drop-shadow(0px 0px 55px #ff007f);
}

.imagenes-container .imagen .r:hover img{
    transform: translateX(+30px);
    filter: drop-shadow(0px 0px 55px #ff007f);
}

/* efectos del hover */

.imagenes-container .imagen .nombre{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    color:#ff00ff;
    display: none;
    min-width: 100px;
    width: 150px;
    top: -80px; 
    /* para que funcione y suba el nombre, tenemos que agregar la posicion absoluto, sino no funciona */
    position: absolute;
    left: calc(8px);
    padding: 5px 15px;
    filter: drop-shadow(0px 0px 20px #ffffff);
}

.imagenes-container .imagen .nombre .text{
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    width: 150px;
    font-family: 'Tilt Neon', cursive;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
}

.imagenes-container .imagen .nombre::before {
    /* hace la flecha hacia abajo */
    content: "";
    position: absolute;
    width:  1px;
    height: 1px;
    left: 40%;
    bottom: -20px;  
    border-top: 10px solid #ff00ff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
} 

@media (max-width: 1305px) {
    header h1{
        text-align: center;
        padding: 10px;
    }

    .nav-menu li{
        padding: 20px 5px;
    }

    .menu-icon{
        display: block;
        position: fixed;
        top: 8vh;
        right: 10vh;
    }

    .nav-menu ul {
        display: block;
        position: fixed;
        top: 16vh;
        left: -100%;
        background: linear-gradient(70deg,rgba(255, 0, 127, 0.8), rgba(255, 255, 255, 0.8) 70%, rgba(255, 85, 255, 0.5)) ;
        width: 100%;
        right: 0px;
    }

    .nav-menu li{
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        margin: 0px;
    }

    .checkbtn{
        display: block;
    }

    #check:checked ~ ul{
        left: 0px;
    }

    .audio-flex{
        justify-content: center;
        align-items: center;
        height: 130px;
    } 

    .audio-container p{
        padding: 5px;
    }  

    .text-int{
        top: 10vh;
    }

    .imagenes-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 150vh;
        left: 10vh;
        top: 20vh;
    }

    .imagenes-container .imagen{
        padding: 20px;
    }

    .imagenes-container .imagen .nombre{
        left: calc(28px);
    }

    /* elevaciones individuales */

    .imagenes-container .imagen .b-g:hover  img{
        transform: translateY(-30px);
    }
    
    .imagenes-container .imagen .n-n:hover img{
        transform: translateY(-30px);
    }
    
    .imagenes-container .imagen .l-i:hover img{
        transform: translateY(-30px);
    }
    
    .imagenes-container .imagen .k-g:hover  img{
        transform: translateY(-30px);
    }
    
    .imagenes-container .imagen .r:hover img{
        transform: translateY(-30px);
    }
}

@media (max-width: 600px) {

    header h1{
        font-size: 30px;
    } 

    .menu-icon{
        /* display: block;
        position: fixed;
        top: 8vh; */
        right: 5vh;
    }

    .audio-flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 130px;
    } 

    .audio-flex p{
        font-size: 20px;
        padding: 5px;
    }  

    .text-int p{
        font-size: 30px;
    }

    .imagenes-container{
        
        height: 150vh;
        top: 20vh;
        left: 2vh;       
    }    
}

@media (max-width: 360px) {

    .menu-icon{
        right: 3vh;
    }

    .imagenes-container{
        
        height: 150vh;
        top: 20vh;
        left: -4vh;       
    }    
}